.btn{
    background: none;
    border: 2px solid #fff;
    font-family: "montserrat",sans-serif;
    border-radius: 8px;
    padding: 12px 20px;
    width: 450px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s linear;
    position: relative;
    color: #fff
}
.btn:active{
    color: #4e0596;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right,
            #40bf52,
            lawngreen
    );
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform: scaleX(0);
}
.btn2::before{
    transform: scaleY(0);
}
.btn1:active::before{
    transform: scaleX(1);
}
.btn2:hover::before{
    transform: scaleY(1);
}

.done {
    background: linear-gradient(
            to right,
            #40bf52,
            lawngreen
    );
    color: #4e0596;

}
.ana {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.material-symbols-outlined.done {
    background: #40bf52;
    color: #4e0596;
    border-radius: 12px;
    margin-right: 10px;
    height: 24px;
    align-self: center;
}

.material-symbols-outlined.unfinished {
    background: yellow;
    color: #4e0596;
    border-radius: 12px;
    margin-right: 10px;
    height: 24px;
    align-self: center;
}
